.input-search {
  width: 400px;
  padding: 8px;
  text-align: center;
  background-color: #C2E7FF;
}

.account, .notification {
  transition: all 0.5s;
  &:hover{
    transition: all 0.5s;
    border: solid 2px;
    border-radius: 100%;
  }
}